@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-[#111816] dark:text-white bg-background-light dark:bg-background-dark min-h-screen;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
